* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff;
  font-family: "Quicksand", sans-serif;
}

.logo a {
  color: rgb(0, 0, 0);
  letter-spacing: 4px;
  font-size: 20px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
}

.nav-links a:hover {
  background-color: black;
  color: white;
}

body {
  background: white;
  padding: 0;
  text-align: center;
  position: relative;
  height: 100%;
  font-family: "Quicksand", sans-serif;
}
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}
.first-page {
  position: relative;
  height: 92vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first-page h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 40px;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
}
.first-page p {
  max-width: 500px;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: auto;
}
.california {
  margin: 0 auto;
  height: 300px;
  width: 510px;
}

.second-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-text {
  margin-left: 80px;
  text-align: left;
}
.second-page h1 {
  font-family: "Bungee Shade", cursive;
  margin-bottom: 15px;
}
.second-page p {
  max-width: 500px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}
.ProfilePic {
  height: 400px;
}

.resume-btn:hover {
  background-color: black;
  border: 1px solid none;
  color: white;
  padding: 10px 28px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "Bungee Shade", cursive;
  letter-spacing: 0.3em;
}

.resume-btn {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 28px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "Bungee Shade", cursive;
  letter-spacing: 0.3em;
}

.github-btn {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  height: 25px;
}

.resume {
  max-width: 900px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
