* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.logo {
  color: rgb(0, 0, 0);
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1200px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(+45deg) translate(-5px, -6px);
}
body {
  background: white;
  padding: 0;
  text-align: center;
  position: relative;
  height: 100%;
  font-family: "Raleway";
}
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}
.first-page {
  position: relative;
  height: 92vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-text {
  margin-left: 80px;
  text-align: left;
}
.second-page h1 {
  font-family: "Monofett", cursive;
  margin-bottom: 15px;
}
.second-page p {
  max-width: 500px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}
.ProfilePic {
  height: 400px;
}
.first-page h1 {
  font-family: "Monofett", cursive;
  font-size: 40px;
  margin-top: -100px;
  margin-bottom: 15px;
}

.first-page p {
  max-width: 500px;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: auto;
}

.second-page {
  height: 100vh;
}
